## Segmenting and Clustering Neighborhoods in Toronto

In [256]:
import numpy as np
import pandas as pd

## Question 1

In [257]:
!pip install BeautifulSoup4
!pip3 install requests

Requirement already satisfied: BeautifulSoup4 in c:\users\helen\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\users\helen\anaconda3\lib\site-packages (from BeautifulSoup4) (1.9.5)
Requirement already satisfied: requests in c:\users\helen\appdata\local\programs\python\python38-32\lib\site-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\helen\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\helen\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (2020.4.5.2)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\helen\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\helen\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (2.9)

Make a request with requests module via a URL

In [258]:
# Download html
import requests
URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(URL)
html_page = page.content

Import modules for scraping using Beautiful Soup

In [259]:
# Parse html
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_page, 'html.parser')

To get texts, use the function find() to get the first tag with the name 'table' and then use the function find_all() to get all tags with the name td

In [260]:
# Searches for the first tag with 'table'
table = soup.find('table')

# Within the table tag search for all tds
text = table.find_all('td')

Make a list consisting of postcode, borough and neighbourhood and make pandas dataframe

In [261]:
postcode = []
borough = []
neighbourhood = []

for i in range(0, len(text), 3):
    postcode.append(text[i].text.strip())
    borough.append(text[i+1].text.strip())
    neighbourhood.append(text[i+2].text.strip())
    
df = pd.DataFrame(data=[postcode, borough, neighbourhood]).transpose()
df.columns = ['Postcode', 'Borough', 'Neighbourhood']

Remove borough rows with not assigned label

In [262]:
# Remove not assigned borough
index = df[ df['Borough'] =='Not assigned'].index # search indexes
df.drop(index, inplace=True) #drop the indexes

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [263]:
df.loc[df['Neighbourhood'] =='Not assigned' , 'Neighbourhood'] = df['Borough']

In the new Wikipedia page, the neighborhoods with the same postal code are already combined into one row separated with a comma.

In [264]:
df.shape # number of column and rows

(103, 3)

In [265]:
df

,Postcode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

## Question 2

Read csv file using read_csv()

In [266]:
path = 'C:\\Users\\Helen\\Downloads\\Geospatial_Coordinates.csv'
df_geo = pd.read_csv(path)
df_geo.rename(columns={'Postal Code':'Postcode'}, inplace=True)

Merge dataframe

In [267]:
df_toronto = pd.merge(df, df_geo[['Postcode','Latitude', 'Longitude']], on='Postcode')
df_toronto

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

## Question 3
Explore and cluster the neighborhoods in Toronto

Install needed packages

In [268]:
!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

!conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working...
Warning: 4 possible package resolutions (only showing differing packages):
  - anaconda/win-64::ca-certificates-2020.1.1-0, anaconda/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::openssl-1.1.1d-he774522_4, defaults/win-64::ca-certificates-2020.1.1-0
  - anaconda/win-64::ca-certificates-2020.1.1-0, defaults/win-64::openssl-1.1.1d-he774522_4
  - defaults/win-64::ca-certificates-2020.1.1-0, defaults/win-64::openssl-1.1.1d-he774522_4done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working...
Warning: 4 possible package resolutions (only showing differing packages):
  - anaconda/win-64::ca-certificates-2020.1.1-0, anaconda/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::ca-certificates-2020.1.1-0, defaults/win-64::openssl-1.1.1d-he774522_4
  - anaconda/win-64::openssl-1.1.1d-he774522_4, defaults/win-64::ca-certificates-2020.1.1-0
  - defaults/win-64::ca-certificates-2020.1.1-0, defaults/win-64::openssl-1.1.1d-he774522_4done

# All requested packages already installed.

Use geopy library to get the latitude and longitude values of New York City. In order to define an instance of the geocoder, we need to define a user_agent. We will name our agent tor_explorer, as shown below.

In [269]:
address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="tor_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.6534817, -79.3839347.

Create a map of Toronto with neighborhoods superimposed on top.

In [270]:
# create map of Toronto using latitude and longitude values
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighbourhood in zip(df_toronto['Latitude'], df_toronto['Longitude'], df_toronto['Borough'], df_toronto['Neighbourhood']):
    label = '{}, {}'.format(neighbourhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)

I decide to work with only North York borough.

In [271]:
ny_data = df_toronto[df_toronto['Borough'] == 'North York'].reset_index(drop=True)
ny_data.head()

  Postcode     Borough                     Neighbourhood   Latitude  Longitude
0      M3A  North York                         Parkwoods  43.753259 -79.329656
1      M4A  North York                  Victoria Village  43.725882 -79.315572
2      M6A  North York  Lawrence Manor, Lawrence Heights  43.718518 -79.464763
3      M3B  North York                         Don Mills  43.745906 -79.352188
4      M6B  North York                         Glencairn  43.709577 -79.445073

In [272]:
address = 'North York, Ontario'

geolocator = Nominatim(user_agent="toronto_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of North York are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of North York are 43.7543263, -79.44911696639593.

Visualize North York map.

In [273]:
# create map of North York using latitude and longitude values
map_ny = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(ny_data['Latitude'], ny_data['Longitude'], ny_data['Neighbourhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_ny)

Define Foursquare Credentials and Version

In [274]:
CLIENT_ID = '5SDZJGYIVIVJKRDL4E23BDOES31KCZITEGE5WXDTLQNJHB0I'
CLIENT_SECRET = '25DRQIAR513SU1ARMJ4QEQDVV4DEYWB1T5V01X4TI4ZDS5ZY' 
VERSION = '20180605'

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 5SDZJGYIVIVJKRDL4E23BDOES31KCZITEGE5WXDTLQNJHB0I
CLIENT_SECRET:25DRQIAR513SU1ARMJ4QEQDVV4DEYWB1T5V01X4TI4ZDS5ZY

Explore all the neighbourhoods.

In [275]:
# Define Limit and radius
LIMIT = 100
radius = 500

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

Run the above function on each neighborhood and create a new dataframe called ny_venues.

In [276]:
ny_venues = getNearbyVenues(names=ny_data['Neighbourhood'],
                                   latitudes=ny_data['Latitude'],
                                   longitudes=ny_data['Longitude']
                                  )

Parkwoods
Victoria Village
Lawrence Manor, Lawrence Heights
Don Mills
Glencairn
Don Mills
Hillcrest Village
Bathurst Manor, Wilson Heights, Downsview North
Fairview, Henry Farm, Oriole
Northwood Park, York University
Bayview Village
Downsview
York Mills, Silver Hills
Downsview
North Park, Maple Leaf Park, Upwood Park
Humber Summit
Willowdale, Newtonbrook
Downsview
Bedford Park, Lawrence Manor East
Humberlea, Emery
Willowdale, Willowdale East
Downsview
York Mills West
Willowdale, Willowdale West

In [277]:
print(ny_venues.shape)
ny_venues.head()

(241, 7)

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Parkwoods,43.753259,-79.329656,Brookbanks Park,43.751976,-79.332140,Park
1,Parkwoods,43.753259,-79.329656,GTA Restoration,43.753396,-79.333477,Fireworks Store
2,Parkwoods,43.753259,-79.329656,Variety Store,43.751974,-79.333114,Food & Drink Shop
3,Victoria Village,43.725882,-79.315572,Victoria Village Arena,43.723481,-79.315635,Hockey Arena
4,Victoria Village,43.725882,-79.315572,Tim Hortons,43.725517,-79.313103,Coffee Shop

In [278]:
ny_venues.groupby('Neighbourhood').count()

,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighbourhood,,,,,,
"Bathurst Manor, Wilson Heights, Downsview North",20,20,20,20,20,20
Bayview Village,4,4,4,4,4,4
"Bedford Park, Lawrence Manor East",24,24,24,24,24,24
Don Mills,28,28,28,28,28,28
Downsview,17,17,17,17,17,17
"Fairview, Henry Farm, Oriole",62,62,62,62,62,62
Glencairn,6,6,6,6,6,6
Hillcrest Village,5,5,5,5,5,5
Humber Summit,2,2,2,2,2,2
"Humberlea, Emery",2,2,2,2,2,2
"Lawrence Manor, Lawrence Heights",11,11,11,11,11,11
"North Park, Maple Leaf Park, Upwood Park",5,5,5,5,5,5
"Northwood Park, York University",6,6,6,6,6,6
Parkwoods,3,3,3,3,3,3
Victoria Village,4,4,4,4,4,4
"Willowdale, Willowdale East",33,33,33,33,33,33
"Willowdale, Willowdale West",6,6,6,6,6,6
York Mills West,2,2,2,2,2,2
"York Mills, Silver Hills",1,1,1,1,1,1

In [279]:
print('There are {} uniques categories.'.format(len(ny_venues['Venue Category'].unique())))

There are 104 uniques categories.

Analyze each neighbourhood.

In [280]:
# one hot encoding
ny_onehot = pd.get_dummies(ny_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
ny_onehot['Neighbourhood'] = ny_venues['Neighbourhood'] 

# move neighbuorhood column to the first column
fixed_columns = [ny_onehot.columns[-1]] + list(ny_onehot.columns[:-1])
ny_onehot = ny_onehot[fixed_columns]

ny_onehot

,Neighbourhood,Accessories Store,Airport,American Restaurant,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Bakery,Bank,...,Supplement Shop,Sushi Restaurant,Tea Room,Thai Restaurant,Theater,Toy / Game Store,Trail,Video Game Store,Vietnamese Restaurant,Women's Store
0,Parkwoods,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Parkwoods,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Parkwoods,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Victoria Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Victoria Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,"Willowdale, Willowdale West",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
237,"Willowdale, Willowdale West",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
238,"Willowdale, Willowdale West",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,"Willowdale, Willowdale West",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,"Willowdale, Willowdale West",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [281]:
ny_onehot.shape

(241, 105)

In [282]:
ny_grouped =ny_onehot.groupby('Neighbourhood').mean().reset_index()
ny_grouped

,Neighbourhood,Accessories Store,Airport,American Restaurant,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Bakery,Bank,...,Supplement Shop,Sushi Restaurant,Tea Room,Thai Restaurant,Theater,Toy / Game Store,Trail,Video Game Store,Vietnamese Restaurant,Women's Store
0,"Bathurst Manor, Wilson Heights, Downsview North",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,...,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1,Bayview Village,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
2,"Bedford Park, Lawrence Manor East",0.000000,0.000000,0.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.041667,0.000000,0.041667,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
3,Don Mills,0.000000,0.000000,0.000000,0.035714,0.000000,0.071429,0.035714,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
4,Downsview,0.000000,0.058824,0.000000,0.000000,0.000000,0.000000,0.058824,0.000000,0.058824,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
5,"Fairview, Henry Farm, Oriole",0.000000,0.000000,0.016129,0.000000,0.000000,0.016129,0.000000,0.032258,0.032258,...,0.016129,0.000000,0.016129,0.000000,0.016129,0.016129,0.0,0.016129,0.000000,0.032258
6,Glencairn,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,...,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
7,Hillcrest Village,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
8,Humber Summit,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
9,"Humberlea, Emery",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
10,"Lawrence Manor, Lawrence Heights",0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.090909,0.000000
11,"North Park, Maple Leaf Park, Upwood Park",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.2,0.000000,0.000000,0.000000
12,"Northwood Park, York University",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
13,Parkwoods,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
14,Victoria Village,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
15,"Willowdale, Willowdale East",0.000000,0.000000,0.000000,0.000000,0.030303,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.060606,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.030303,0.000000
16,"Willowdale, Willowdale West",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
17,York Mills West,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
18,"York Mills, Silver Hills",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000

In [283]:
ny_grouped.shape

(19, 105)

In [284]:
num_top_venues = 5

for hood in ny_grouped['Neighbourhood']:
    print("----"+hood+"----")
    temp = ny_grouped[ny_grouped['Neighbourhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Bathurst Manor, Wilson Heights, Downsview North----
            venue  freq
0     Coffee Shop  0.10
1            Bank  0.10
2     Bridal Shop  0.05
3  Ice Cream Shop  0.05
4     Gas Station  0.05


----Bayview Village----
                 venue  freq
0   Chinese Restaurant  0.25
1                 Café  0.25
2                 Bank  0.25
3  Japanese Restaurant  0.25
4    Accessories Store  0.00


----Bedford Park, Lawrence Manor East----
                venue  freq
0         Coffee Shop  0.08
1      Sandwich Place  0.08
2  Italian Restaurant  0.08
3          Restaurant  0.08
4    Greek Restaurant  0.04


----Don Mills----
                 venue  freq
0  Sporting Goods Shop  0.07
1  Japanese Restaurant  0.07
2     Asian Restaurant  0.07
3           Restaurant  0.07
4          Coffee Shop  0.07


----Downsview----
               venue  freq
0      Grocery Store  0.12
1   Business Service  0.12
2               Park  0.12
3  Korean Restaurant  0.06
4     Discount Store  0.06


----Fairview, Henry Farm, Oriole----
                  venue  freq
0        Clothing Store  0.13
1           Coffee Shop  0.08
2  Fast Food Restaurant  0.06
3   Japanese Restaurant  0.05
4                  Bank  0.03


----Glencairn----
                 venue  freq
0          Pizza Place  0.33
1     Asian Restaurant  0.17
2                  Pub  0.17
3     Sushi Restaurant  0.17
4  Japanese Restaurant  0.17


----Hillcrest Village----
                      venue  freq
0      Fast Food Restaurant   0.2
1               Golf Course   0.2
2                      Pool   0.2
3  Mediterranean Restaurant   0.2
4                   Dog Run   0.2


----Humber Summit----
                    venue  freq
0             Pizza Place   0.5
1  Furniture / Home Store   0.5
2            Liquor Store   0.0
3                    Park   0.0
4           Movie Theater   0.0


----Humberlea, Emery----
               venue  freq
0       Food Service   0.5
1     Baseball Field   0.5
2  Accessories Store   0.0
3       Liquor Store   0.0
4               Park   0.0


----Lawrence Manor, Lawrence Heights----
                    venue  freq
0  Furniture / Home Store  0.18
1          Clothing Store  0.18
2       Accessories Store  0.09
3                Boutique  0.09
4               Gift Shop  0.09


----North Park, Maple Leaf Park, Upwood Park----
                        venue  freq
0  Construction & Landscaping   0.2
1                        Park   0.2
2                       Trail   0.2
3                      Bakery   0.2
4            Basketball Court   0.2


----Northwood Park, York University----
                    venue  freq
0             Coffee Shop  0.17
1    Caribbean Restaurant  0.17
2  Furniture / Home Store  0.17
3                     Bar  0.17
4           Metro Station  0.17


----Parkwoods----
               venue  freq
0               Park  0.33
1  Food & Drink Shop  0.33
2    Fireworks Store  0.33
3  Korean Restaurant  0.00
4      Movie Theater  0.00


----Victoria Village----
                   venue  freq
0          Grocery Store  0.25
1           Hockey Arena  0.25
2  Portuguese Restaurant  0.25
3            Coffee Shop  0.25
4                 Lounge  0.00


----Willowdale, Willowdale East----
              venue  freq
0  Ramen Restaurant  0.09
1       Coffee Shop  0.06
2  Sushi Restaurant  0.06
3              Café  0.06
4       Pizza Place  0.06


----Willowdale, Willowdale West----
           venue  freq
0  Grocery Store  0.17
1           Bank  0.17
2       Pharmacy  0.17
3        Butcher  0.17
4    Pizza Place  0.17


----York Mills West----
               venue  freq
0               Park   0.5
1  Convenience Store   0.5
2  Accessories Store   0.0
3                Gym   0.0
4      Movie Theater   0.0


----York Mills, Silver Hills----
               venue  freq
0          Cafeteria   1.0
1  Accessories Store   0.0
2           Pharmacy   0.0
3               Park   0.0
4      Movie Theater   0.0

In [285]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [286]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighbourhoods_venues_sorted = pd.DataFrame(columns=columns)
neighbourhoods_venues_sorted['Neighbourhood'] = ny_grouped['Neighbourhood']

for ind in np.arange(ny_grouped.shape[0]):
    neighbourhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(ny_grouped.iloc[ind, :], num_top_venues)

neighbourhoods_venues_sorted.head()

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Bathurst Manor, Wilson Heights, Downsview North",Coffee Shop,Bank,Mobile Phone Shop,Shopping Mall,Gas Station,Grocery Store,Diner,Ice Cream Shop,Deli / Bodega,Middle Eastern Restaurant
1,Bayview Village,Chinese Restaurant,Café,Bank,Japanese Restaurant,Dog Run,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega
2,"Bedford Park, Lawrence Manor East",Sandwich Place,Italian Restaurant,Coffee Shop,Restaurant,Greek Restaurant,Grocery Store,Hobby Shop,Indian Restaurant,Japanese Restaurant,Juice Bar
3,Don Mills,Beer Store,Coffee Shop,Asian Restaurant,Japanese Restaurant,Gym,Sporting Goods Shop,Restaurant,Café,Clothing Store,Chinese Restaurant
4,Downsview,Park,Business Service,Grocery Store,Bank,Liquor Store,Korean Restaurant,Discount Store,Snack Place,Baseball Field,Shopping Mall

Cluster neighborhoods to 5 clusters.

In [287]:
from sklearn.cluster import KMeans

# set number of clusters
kclusters = 5

ny_grouped_clustering = ny_grouped.drop('Neighbourhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(ny_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([4, 4, 4, 4, 4, 4, 4, 4, 3, 2])

In [288]:
# add clustering labels
neighbourhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

ny_merged = ny_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
ny_merged = ny_merged.join(neighbourhoods_venues_sorted.set_index('Neighbourhood'), on='Neighbourhood')

ny_merged.head() # check the last columns!

,Postcode,Borough,Neighbourhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M3A,North York,Parkwoods,43.753259,-79.329656,0.0,Park,Food & Drink Shop,Fireworks Store,Discount Store,Clothing Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop
1,M4A,North York,Victoria Village,43.725882,-79.315572,4.0,Grocery Store,Coffee Shop,Hockey Arena,Portuguese Restaurant,Women's Store,Discount Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop
2,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763,4.0,Furniture / Home Store,Clothing Store,Accessories Store,Boutique,Gift Shop,Event Space,Miscellaneous Shop,Coffee Shop,Vietnamese Restaurant,Bank
3,M3B,North York,Don Mills,43.745906,-79.352188,4.0,Beer Store,Coffee Shop,Asian Restaurant,Japanese Restaurant,Gym,Sporting Goods Shop,Restaurant,Café,Clothing Store,Chinese Restaurant
4,M6B,North York,Glencairn,43.709577,-79.445073,4.0,Pizza Place,Asian Restaurant,Sushi Restaurant,Pub,Japanese Restaurant,Women's Store,Discount Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping

In [249]:
import matplotlib.cm as cm
import matplotlib.colors as colors

# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(ny_merged['Latitude'], ny_merged['Longitude'], ny_merged['Neighbourhood'], ny_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[(cluster)-1],
        fill=True,
        fill_color=rainbow[(cluster)-1],
        fill_opacity=0.7).add_to(map_clusters)

TypeError: list indices must be integers or slices, not float

Examine each cluster and determine the discriminating venue categories that distinguish each cluster:

In [250]:
# CLuster 1
ny_merged.loc[ny_merged['Cluster Labels'] == 0, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Borough,Cluster Labels,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,North York,0.0,0.0,Park,Food & Drink Shop,Fireworks Store,Discount Store,Clothing Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop
14,North York,0.0,0.0,Park,Trail,Construction & Landscaping,Bakery,Basketball Court,Dog Run,Coffee Shop,Comfort Food Restaurant,Convenience Store,Cosmetics Shop
22,North York,0.0,0.0,Park,Convenience Store,Golf Course,Clothing Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping,Cosmetics Shop,Deli / Bodega,Department Store

In [252]:
#Cluster 2
ny_merged.loc[ny_merged['Cluster Labels'] == 1, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Borough,Cluster Labels,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
12,North York,1.0,1.0,Cafeteria,Women's Store,Clothing Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store,Dim Sum Restaurant

In [253]:
# Cluster 3
ny_merged.loc[ny_merged['Cluster Labels'] == 2, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Borough,Cluster Labels,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
19,North York,2.0,2.0,Food Service,Baseball Field,Women's Store,Electronics Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store

In [254]:
#CLuster 4
ny_merged.loc[ny_merged['Cluster Labels'] == 3, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Borough,Cluster Labels,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
15,North York,3.0,3.0,Pizza Place,Furniture / Home Store,Women's Store,Discount Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega

In [255]:
#Cluster 5
ny_merged.loc[ny_merged['Cluster Labels'] == 4, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Borough,Cluster Labels,Cluster_Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,North York,4.0,4.0,Grocery Store,Coffee Shop,Hockey Arena,Portuguese Restaurant,Women's Store,Discount Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop
2,North York,4.0,4.0,Furniture / Home Store,Clothing Store,Accessories Store,Boutique,Gift Shop,Event Space,Miscellaneous Shop,Coffee Shop,Vietnamese Restaurant,Bank
3,North York,4.0,4.0,Beer Store,Coffee Shop,Asian Restaurant,Japanese Restaurant,Gym,Sporting Goods Shop,Restaurant,Café,Clothing Store,Chinese Restaurant
4,North York,4.0,4.0,Pizza Place,Asian Restaurant,Sushi Restaurant,Pub,Japanese Restaurant,Women's Store,Discount Store,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping
5,North York,4.0,4.0,Beer Store,Coffee Shop,Asian Restaurant,Japanese Restaurant,Gym,Sporting Goods Shop,Restaurant,Café,Clothing Store,Chinese Restaurant
6,North York,4.0,4.0,Dog Run,Fast Food Restaurant,Pool,Mediterranean Restaurant,Golf Course,Food Truck,Food Service,Coffee Shop,Comfort Food Restaurant,Construction & Landscaping
7,North York,4.0,4.0,Coffee Shop,Bank,Mobile Phone Shop,Shopping Mall,Gas Station,Grocery Store,Diner,Ice Cream Shop,Deli / Bodega,Middle Eastern Restaurant
8,North York,4.0,4.0,Clothing Store,Coffee Shop,Fast Food Restaurant,Japanese Restaurant,Restaurant,Mobile Phone Shop,Bank,Bakery,Women's Store,Electronics Store
9,North York,4.0,4.0,Caribbean Restaurant,Furniture / Home Store,Metro Station,Massage Studio,Bar,Coffee Shop,Women's Store,Discount Store,Construction & Landscaping,Convenience Store
10,North York,4.0,4.0,Chinese Restaurant,Café,Bank,Japanese Restaurant,Dog Run,Comfort Food Restaurant,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega
11,North York,4.0,4.0,Park,Business Service,Grocery Store,Bank,Liquor Store,Korean Restaurant,Discount Store,Snack Place,Baseball Field,Shopping Mall
13,North York,4.0,4.0,Park,Business Service,Grocery Store,Bank,Liquor Store,Korean Restaurant,Discount Store,Snack Place,Baseball Field,Shopping Mall
17,North York,4.0,4.0,Park,Business Service,Grocery Store,Bank,Liquor Store,Korean Restaurant,Discount Store,Snack Place,Baseball Field,Shopping Mall
18,North York,4.0,4.0,Sandwich Place,Italian Restaurant,Coffee Shop,Restaurant,Greek Restaurant,Grocery Store,Hobby Shop,Indian Restaurant,Japanese Restaurant,Juice Bar
20,North York,4.0,4.0,Ramen Restaurant,Coffee Shop,Pizza Place,Sushi Restaurant,Café,Sandwich Place,Japanese Restaurant,Middle Eastern Restaurant,Indonesian Restaurant,Restaurant
21,North York,4.0,4.0,Park,Business Service,Grocery Store,Bank,Liquor Store,Korean Restaurant,Discount Store,Snack Place,Baseball Field,Shopping Mall
23,North York,4.0,4.0,Coffee Shop,Grocery Store,Pharmacy,Pizza Place,Butcher,Bank,Discount Store,Comfort Food Restaurant,Construction & Landscaping,Convenience Store